{% load staticfiles %}

<html>

<head>
    <link rel="stylesheet" href="{% static "css/scrumboard.css" %}" type="text/css" />
</head>

<body ng-app="scrumboard.demo">
    <ng-view></ng-view>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
    <script type="text/javascript" src="{% static "js/scrumboard.js" %}"></script>
    <script type="text/javascript" src="{% static "js/card.directive.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scrumboard.config.js" %}"></script>
    <script type="text/javascript" src="{% static "js/login.controller.js" %}"></script>
    <script type="text/javascript" src="{% static "js/login.service.js" %}"></script>
</body>

</html>